#balanceDiv {
    font-size: 100px;
    font-weight: bold;
    padding: 40px;
}

#pointsHeader {
    margin: 20px;
}

#balanceContainer {
    background: lightblue;
    height: 290px;
}

#dropdownContainer {
    display: inline-flex;
    font-size: 15px;
}

#qtyDropDown, #colourDropDown, #description, #redeemBtn {
    margin: 10px 10px 10px 0;
}

#priceDiv {
    font-size: 40px;
    margin: 10px 10px 10px 0;
}

#price {
   font-weight: bold;
}

#redeemBtn {
    width: 100%;
}

#airBudImg {
    height: 80%;
    margin: 0 20% 0 20%;
}

#productRow {
    height: 100%;
    background: white;
}

#colourDiv:hover {
    font-size: 17px;
}

@media only screen and (max-width: 809px) {
    #balanceDiv {
        font-size: 80px;
    }
    #priceDiv {
        font-size: 20px;
    }
    #colourGrid {
        display: None;
    }
    #airBudImg {
        width: 80%;
    }
  }