.body, html {
    background-image: url("../../images/beach.jpg");
    background-size: cover;
}

.logIn {
    background-color: rgb(173,216,230, 0.8);
    height: 90%;
    margin-top: 35%;
    border-radius: 10px;
    padding: 20px; 
    -webkit-box-shadow: 7px 5px 15px -2px rgba(66,66,66,0.55); 
    box-shadow: 7px 5px 15px -2px rgba(66,66,66,0.55);
}
#loginContent {
    text-align: center;
    position: relative;
    top: 100px;
}
.loginInput {
    margin-bottom: 3%;
}

#loginForm {
    margin-top: 5%;
}

.logInHeader {
    text-align: center;
    color: darkorange;
    font-size: 45px;
    font-weight: bold;
}

#userIcon {
    font-size: 60px;
}

@media only screen and (max-width: 1304px) {
    .logIn {
        background-color: unset;
        padding: 0;
        border-radius: unset;
        -webkit-box-shadow: unset;
        box-shadow: unset;
        width: unset;
    }
}

@media only screen and (max-width: 752px) {
    .logInHeader {
        font-size: 30px;
    }
}

@media only screen and (max-width: 514px) {
    .logInHeader {
        font-size: 20px;
    }
  }